{% extends "form_layout.html.twig" %}

{% block page_title 'page.title.reservation.rent' | trans({}, 'page') %}

{% trans_default_domain 'form' %}

{% block page_content_portlet_head_title 'page.title.reservation.rent' | trans({}, 'page') %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_content_portlet_body %}
    <div class="m-portlet__body">

        {{ form_start(form, { 'attr' : { 'class' : 'm-form m-form--label-align-left- m-form--state-', 'id' : 'm_form' } }) }}

        <!--begin: Form Body -->
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <div class="m-form__section m-form__section--first">
                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">{{ 'form.section.title.details' | trans({}, 'form') }}</h3>
                        </div>

                        {% if error is defined %}
                            <div class="m-section__content">
                                <div class="m-alert m-alert--outline alert alert-danger alert-dismissible fade show"
                                     role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    </button>

                                    <strong>{{ 'form.error.danger' | trans }}</strong> {{ error.messageKey|trans(error.messageData, 'form') }}
                                </div>
                            </div>
                        {% endif %}

                        {% if form.member is defined %}
                            <div class="form-group m-form__group row {% if form_errors(form.member) is not empty %}has-danger{% endif %} {% if form_errors(form.member) is not empty %}has-success{% endif %}">
                                <label class="col-xl-3 col-lg-3 col-form-label">{% if form.member.vars.required %}* {% endif %}
                                    Choix du membre:
                                </label>

                                <div class="col-xl-9 col-lg-9">
                                    {{ form_widget(
                                        form.member,
                                        {
                                            'attr': {
                                            'class': 'form-control m-select2',
                                            'id': 'm_select2_1',

                                        },
                                        }
                                    ) }}

                                    {% if form.member.vars.errors|length > 0 %}
                                        <span class="m-form__help text-danger">
                                            {% for error in form.member.vars.errors %}
                                                {{ error.message }}
                                            {% endfor %}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        {% if form.member is defined %}
                        <div class="form-group m-form__group row {% if form_errors(form.member) is not empty %}has-danger{% endif %} {% if form_errors(form.member) is not empty %}has-success{% endif %}">
                        <label class="col-xl-3 col-lg-3 col-form-label">{% if form.member.vars.required %}* {% endif %}
                        Choix de la période :

                        </label>

                        <div class="col-xl-9 col-lg-9">

                        <div class="input-daterange input-group" id="m_datepicker_5">
                        <input type="text" class="form-control m-input"
                        name='{{ form_widget(form.startDate) }}'>
                        <div class="input-group-append">
                        <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                        </div>
                        <input type="text" class="form-control" name='{{ form_widget(form.endDate) }}'>
                        </div>

                        {% if form.member.vars.errors|length > 0 %}
                        <span class="m-form__help text-danger">
                        {% for error in form.member.vars.errors %}
                        {{ error.message }}
                        {% endfor %}
                        </span>
                        {% endif %}
                        </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock page_content_portlet_body %}

        {% block javascripts %}
            <!--begin::Base Scripts -->
            {{ parent() }}

            <!--end::Base Scripts -->
        {% endblock %}

        {% block page_vendors_scripts %}
            <!--begin::Page Vendors -->
            {{ parent() }}
            <!--end::Page Vendors -->
        {% endblock page_vendors_scripts %}

        {% block page_javascripts %}
            <!--begin::Page Snippets -->
            {{ parent() }}
            <script src="{{ asset('backend/assets/demo/default/custom/crud/forms/widgets/select2.js') }}"
                    type="text/javascript"></script>
            <script src="{{ asset('backend/assets/demo/default/custom/crud/forms/widgets/bootstrap-datepicker.js') }}"
                    type="text/javascript"></script>
            <script>
                //Ajout de la méthode select2 par Monsieur Moulaye
                $(".m-select2").select2();
            </script>
            <script>
                $("#form_submit_button").click(function () {
                    $("form[name='reservation']").submit();
                });
            </script>
            <!--end::Page Snippets -->
        {% endblock %}
